h5py==3.6.0
imgaug==0.4.0
keras==2.12.0
numpy==1.22.3
opencv-python==4.5.5.64
pandas==1.4.2
pillow==9.1.0
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
tensorboard==2.12.0
tensorflow==2.12.0
tensorflow-gpu==2.12.0
tsnecuda==3.0.1